@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ff0000;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  direction: rtl;
  overflow-x: hidden;
}

.text-primary {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

/* Slider Customization */
.slick-prev:before,
.slick-next:before {
  color: #facc15;
  display: none
}

.slick-dots li button:before {
  color: #facc15;
  transition: .3s
}
.slick-dots li.slick-active button:before {
  color:#facc15;
  font-size: 10px;
}